# Google Analytics 4 Measurement ID
# Get this from your Google Analytics account
# Format: G-XXXXXXXXXX
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX

# Google Forms Contact Form URL
# Get this from your Google Form "Send" -> "Embed HTML" -> Copy iframe src URL
NEXT_PUBLIC_GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/YOUR_FORM_ID/viewform?embedded=true
